<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Заповедники — Атлас биоразнообразия</title>
  <link rel="stylesheet" href="pages.css" />
  <link rel="stylesheet" href="style.css" />
<h2>Привет, {{ session['user_name'] }}!</h2>
<a href="/logout">Выйти</a>
<ul>
    {% for reserve in reserves %}
        <li>
            <strong>{{ reserve['name'] }}</strong><br>
            {{ reserve['description'] }}
        </li>
    {% endfor %}
</ul>
</head>
<body>
    <div class="leaves-bg">
        <canvas id="leaves"></canvas>

  <header class="site-header">
  <div class="brand">
    <img src="https://cdn-icons-png.flaticon.com/512/427/427735.png" alt="Лого" class="logo">
    <span>Атлас биоразнообразия</span>
  </div>

  <nav class="nav-links">
    <a href="index.html">Главная</a>
    <a href="reserves.html">Заповедники</a>
    <a href="about.html">О проекте</a>
    <a href="contacts.html">Контакты</a>
    <a href="login.html">Вход/Регистрация</a>
  </nav>
</header>

  <section class="reserves">
    <h1>Заповедники мира</h1>
    <p class="intro">
      Здесь вы можете познакомиться с уникальными природными уголками планеты, 
      где сохраняется редкая флора и фауна.
    </p>

    <div class="reserve-list">
      <div class="reserve-card">
        <h3>Байкальский заповедник</h3>
        <p>Охраняет уникальную экосистему озера Байкал и его обитателей.</p>
      </div>
      <div class="reserve-card">
        <h3>Кроноцкий заповедник</h3>
        <p>Дом вулканов, гейзеров и диких медведей Камчатки.</p>
      </div>
      <div class="reserve-card">
        <h3>Йеллоустон</h3>
        <p>Первый национальный парк в мире, символ охраны природы.</p>
      </div>
    </div>
    
    
  </section>

  <footer class="site-footer">
    © Гершончик К.В., группа 22о — Атлас биоразнообразия
  </footer>
  <script src="script.js"></script>
  <script src="leaves.js"></script>

</body>
</html>
